In [1]:
import pandas as pd
import numpy as np

In [3]:
s1 = pd.Series(np.arange(0,5))
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [5]:
s1.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
s2 = pd.Series(np.arange(0,7), index = ["g", "a", 'b', 'r', 'i', 'e', 'l'])
s2

g    0
a    1
b    2
r    3
i    4
e    5
l    6
dtype: int64

In [9]:
s2.index = ['G', 'A', 'B', 'R', 'I', 'E', 'L']
s2

G    0
A    1
B    2
R    3
I    4
E    5
L    6
dtype: int64

In [10]:
s3 = pd.Series([1,2,3], ['a', 'b', 'c'])
s3

a    1
b    2
c    3
dtype: int64

In [11]:
dic = {
    "gabriel" : 1,
    "abilio" : 2,
    "barbosa" : 3,
    "ferreira" : 4
}

s4 = pd.Series(dic)
s4

gabriel     1
abilio      2
barbosa     3
ferreira    4
dtype: int64

In [16]:
ar = np.array([1, 2, 3, np.nan, 4, 5 , 6, np.nan, 8, 9, np.nan])
ar

array([ 1.,  2.,  3., nan,  4.,  5.,  6., nan,  8.,  9., nan])

In [17]:
s5 = pd.Series(ar)
s5

0     1.0
1     2.0
2     3.0
3     NaN
4     4.0
5     5.0
6     6.0
7     NaN
8     8.0
9     9.0
10    NaN
dtype: float64

In [18]:
ar.sum()

nan

In [19]:
s5.sum()

38.0

In [20]:
s5.sum(skipna = False)

nan

In [24]:
s2.index

Index(['G', 'A', 'B', 'R', 'I', 'E', 'L'], dtype='object')

In [25]:
s3.values

array([1, 2, 3])

In [28]:
s2

G    0
A    1
B    2
R    3
I    4
E    5
L    6
dtype: int64

In [30]:
s2.loc['I']

4

In [31]:
s2.iloc[4]

4

In [34]:
s2.loc['A' : 'E']

A    1
B    2
R    3
I    4
E    5
dtype: int64

In [35]:
s2.iloc[1 : 6]

A    1
B    2
R    3
I    4
E    5
dtype: int64

In [39]:
s2.loc[["G", "B", "I", "L"]]

G    0
B    2
I    4
L    6
dtype: int64

In [40]:
s2.iloc[[0,2,4,6]]

G    0
B    2
I    4
L    6
dtype: int64

In [41]:
s2

G    0
A    1
B    2
R    3
I    4
E    5
L    6
dtype: int64

In [60]:
s7 = pd.Series([np.random.randint(0,10) for i in range(7)], index =['A', 'L', 'R', 'G', 'I', 'E', 'L'] )
s7

A    4
L    2
R    3
G    1
I    7
E    5
L    3
dtype: int64

In [65]:
s7.add(s2, fill_value = 10)

A     5.0
B    12.0
E    10.0
G     1.0
I    11.0
L     8.0
L     9.0
R     6.0
dtype: float64

In [68]:
np.random.seed(1)

test1 = pd.Series(np.random.randint(0, 10, 10))
test2 = pd.Series(np.random.randint(0, 10, 10))
test1, test2

(0    5
 1    8
 2    9
 3    5
 4    0
 5    0
 6    1
 7    7
 8    6
 9    9
 dtype: int64,
 0    2
 1    4
 2    5
 3    2
 4    4
 5    2
 6    4
 7    7
 8    7
 9    9
 dtype: int64)

In [69]:
test1 == test2

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
8    False
9     True
dtype: bool

In [70]:
test1[test1 == test2]

7    7
9    9
dtype: int64

In [72]:
test1[test1 % 2 == 1]

0    5
2    9
3    5
6    1
7    7
9    9
dtype: int64

In [73]:
test1

0    5
1    8
2    9
3    5
4    0
5    0
6    1
7    7
8    6
9    9
dtype: int64

In [85]:
test1 = test1.multiply(1)
test1

0    50.0
1    80.0
2    90.0
3    50.0
4     0.0
5     0.0
6    10.0
7    70.0
8    60.0
9    90.0
dtype: float64

In [87]:
def converting(value):
    if value <= 25:
        return "terrible"
    elif value <= 50:
        return "bad"
    elif value <= 75:
        return "all rigth"
    else:
        return "great"

In [88]:
test1.apply(converting)

0          bad
1        great
2        great
3          bad
4     terrible
5     terrible
6     terrible
7    all rigth
8    all rigth
9        great
dtype: object

In [96]:
test1

0         bad
1       great
2       great
3         bad
4    terrible
dtype: object

In [94]:
test1 = test1.iloc[:5].apply(converting)

In [95]:
test1

0         bad
1       great
2       great
3         bad
4    terrible
dtype: object