# Collect Data from Web

### Using Wiki

In [2]:
import pandas as pd

In [3]:
table = pd.read_html("https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)#Table")

In [4]:
type(table)

list

In [7]:
for i in table:
    print(type(i))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [8]:
for i in table:
    print(i.columns)

Index([0], dtype='int64')
Index([0, 1, 2], dtype='int64')
MultiIndex([( 'Country/Territory', 'Country/Territory'),
            (         'UN region',         'UN region'),
            (        'IMF[1][13]',          'Forecast'),
            (        'IMF[1][13]',              'Year'),
            (    'World Bank[14]',          'Estimate'),
            (    'World Bank[14]',              'Year'),
            ('United Nations[15]',          'Estimate'),
            ('United Nations[15]',              'Year')],
           )
Index(['.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteLists of countries by financial rankings', '.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteLists of countries by financial rankings.1'], dtype='object')
Index(['vteLists of countries by GDP rankings', 'vteLists of countries by GDP rankings.1'], dtype='object')
Index(['vteEconomic classification of countries', 'vteEconomic classification of countries.1'], dtype='object')
Index([0, 1], dtype='int64')

In [9]:
for i in table:
    print(i.values)

[['Largest economies in the world by GDP (nominal) in 2023 according to International Monetary Fund estimates[n 1][1]']]
[['.mw-parser-output .legend{page-break-inside:avoid;break-inside:avoid-column}.mw-parser-output .legend-color{display:inline-block;min-width:1.25em;height:1.25em;line-height:1.25;margin:1px 0;text-align:center;border:1px solid black;background-color:transparent;color:black}.mw-parser-output .legend-text{} > $20 trillion $10–20 trillion $5–10 trillion $1–5 trillion'
  '$750 billion – $1 trillion $500–750 billion $250–500 billion $100–250 billion'
  '$50–100 billion $25–50 billion $5–25 billion < $5 billion']]
[['World' '—' '104476432' ... '2022' '96698005' '2021']
 ['United States' 'Americas' '26949643' ... '2022' '23315081' '2021']
 ['China' 'Asia' '17700899' ... '[n 3]2022' '17734131' '[n 1]2021']
 ...
 ['Nauru' 'Oceania' '150' ... '2022' '155' '2021']
 ['Montserrat' 'Americas' '—' ... '—' '72' '2021']
 ['Tuvalu' 'Oceania' '63' ... '2022' '60' '2021']]
[['Trade'
  'Account balance % of GDP Exports by product merchandise net per capita service exports Imports Trade-to-GDP ratio Tariff rate Leading trade partners']
 ['Investment' 'FDI received past FDI abroad GFI']
 ['Funds'
  'Forex reserves Forex reserves (ex. gold) Gold reserves Sovereign wealth funds Pension funds Creditor nations Debtor nations']
 ['Budget and debt'
  'Government budget PPP % of GDP per capita Credit rating External debt Public debt future Household debt Corporate debt']
 ['Income and taxes'
  'Tax rates Inheritance tax Tax revenue Wage average median minimum']
 ['Bank rates'
  'Central bank interest rate Commercial bank prime lending rate']
 ['Currency' 'Exchange rates to US$ Inflation rate']
 ['Other'
  'Financial Development Index Average annual labor hours Corporate governance Development aid Ease of doing business Gross national savings Employment/Unemployment Financial assets Labour productivity Wealth']
 ['Lists of countries by GDP rankings List of international rankings Lists by country'
  'Lists of countries by GDP rankings List of international rankings Lists by country']]
[['Nominal' 'Per capita Past and projected per capita Sector composition']
 ['Purchasing power parity (PPP)'
  'Per capita Past per capita Past and projected per capita Private consumption per capita Per person employed Ten largest historically']
 ['Growth rate'
  'African countries Asian states European Union member states European countries Latin American and Caribbean countries Oceanian countries Per capita 1980–2010 growth Industrial growth']
 ['Gross national income (GNI)' 'PPP per capita Nominal per capita']
 ['Countries by region'
  'Africa PPP nominal Commonwealth of Nations PPP nominal Latin America & Caribbean PPP nominal North America PPP nominal nominal per capita South America PPP Arab League nominal and per capita PPP and per capita ASEAN subdivision Asia Asia & Pacific PPP Former Soviet Republics Europe PPP PPP per capita nominal nominal per capita Oceania PPP PPP per capita nominal nominal per capita']
 ['Subnational divisions'
  'Albania Argentina Australia Austria Baltic States Belarus Belgium Brazil Bulgaria Canada Chile per capita China per capita Colombia Croatia Czech Republic Finland France nominal nominal per capita Germany nominal nominal per capita Greece Hungary India PPP per capita Indonesia per capita Cities Italy nominal per capita Japan per capita Kenya Malaysia Mexico per capita Mongolia Netherlands Nigeria Nepal Norway Pakistan Peru Philippines Poland Portugal Romania Russia per capita Serbia Slovakia South Africa per capita South Korea Spain Sweden Switzerland Ukraine United Kingdom nominal nominal per capita United States nominal per capita Taiwan Tanzania Thailand Turkey Vietnam OECD *Top country subdivisions by GDP']
 ['Lists of countries by financial rankings List of international rankings Lists by country'
  'Lists of countries by financial rankings List of international rankings Lists by country']]
[['Developed country Developing country Least developed countries World Bank high-income economy Newly industrialized country Heavily indebted poor countries'
  'Developed country Developing country Least developed countries World Bank high-income economy Newly industrialized country Heavily indebted poor countries']
 ['Three-World Model' 'First World Second World Third World Fourth World']
 ['Gross domestic product (GDP)'
  'Nominal By country past and projected per capita per capita Purchasing power parity (PPP) By country future estimates per capita per capita per person employed']
 ['Nominal' 'By country past and projected per capita per capita']
 ['Purchasing power parity (PPP)'
  'By country future estimates per capita per capita per person employed']
 ['Gross national income (GNI)'
  '(Nominal, Atlas method) per capita (PPP) per capita']
 ['Wages'
  'Average wage Europe Employee compensation (per hour) List of countries by median wage Minimum wages Canada Europe United States']
 ['Wealth' 'Wealth per adult Europe Financial assets per capita']
 ['Other national accounts'
  'Gross National Happiness Net material product Research and development spending Stock market capitalization Patents, trademarks, and industrial design filing activity']
 ['Human development'
  'Human Development Index by country inequality-adjusted planetary pressures–adjusted HDI Human Poverty Index Percentage living in poverty Human Capital Index Household income Social Progress Index']
 ['Digital divide'
  'ICT Development Index Number of broadband Internet subscriptions Number of Internet users Smartphone penetration']
 ['Net international investment position (NIIP)'
  'Per capita (creditors) Per capita (debtors)']
 ['Economics portal\xa0• World portal'
  'Economics portal\xa0• World portal']]
[['Nominal' 'By country past and projected per capita per capita']
 ['Purchasing power parity (PPP)'
  'By country future estimates per capita per capita per person employed']]

In [10]:
df = table[2]
df

    Country/Territory UN region IMF[1][13]            World Bank[14]  \
    Country/Territory UN region   Forecast       Year       Estimate
0               World         —  104476432       2023      100562011
1       United States  Americas   26949643       2023       25462700
2               China      Asia   17700899  [n 1]2023       17963171
3             Germany    Europe    4429838       2023        4072192
4               Japan      Asia    4230862       2023        4231141
..                ...       ...        ...        ...            ...
209             Palau   Oceania        267       2023              —
210          Kiribati   Oceania        246       2023            223
211             Nauru   Oceania        150       2023            151
212        Montserrat  Americas          —          —              —
213            Tuvalu   Oceania         63       2023             60

               United Nations[15]
          Year           Estimate       Year
0         2022           96698005       2021
1         2022           23315081       2021
2    [n 3]2022           17734131  [n 1]2021
3         2022            4259935       2021
4         2022            4940878       2021
..         ...                ...        ...
209          —                218       2021
210       2022                227       2021
211       2022                155       2021
212          —                 72       2021
213       2022                 60       2021

[214 rows x 8 columns]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   (Country/Territory, Country/Territory)  214 non-null    object
 1   (UN region, UN region)                  214 non-null    object
 2   (IMF[1][13], Forecast)                  214 non-null    object
 3   (IMF[1][13], Year)                      214 non-null    object
 4   (World Bank[14], Estimate)              214 non-null    object
 5   (World Bank[14], Year)                  214 non-null    object
 6   (United Nations[15], Estimate)          214 non-null    object
 7   (United Nations[15], Year)              214 non-null    object
dtypes: object(8)
memory usage: 13.5+ KB

### Web Scraping

In [6]:
import requests

In [7]:
page = requests.get("https://dataquestio.github.io/web-scraping-pages/simple.html")
page

In [8]:
page.status_code

200

In [10]:
page.content

b'<!DOCTYPE html>\n<html>\n    <head>\n        <title>A simple example page</title>\n    </head>\n    <body>\n        <p>Here is some simple content for this page.</p>\n    </body>\n</html>'

In [11]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(page.content, "html.parser")

In [24]:
soup.prettify()

<!DOCTYPE html>
<html>
 <head>
  <title>
   A simple example page
  </title>
 </head>
 <body>
  <p>
   Here is some simple content for this page.
  </p>
 </body>
</html>

In [17]:
soup.find_all("title")

In [18]:
for i in soup.find_all("title"):
    print(i.get_text())

A simple example page

In [19]:
soup.find_all("p")

In [20]:
soup.find("p")

In [21]:
for i in soup.find_all("p"):
    print(i.get_text())

Here is some simple content for this page.

In [22]:
(soup.find("p")).get_text()

'Here is some simple content for this page.'

In [23]:
page = requests.get("https://dataquestio.github.io/web-scraping-pages/ids_and_classes.html")
page

In [24]:
page.content

b'<html>\n    <head>\n        <title>A simple example page</title>\n    </head>\n    <body>\n        <div>\n            <p class="inner-text first-item" id="first">\n                First paragraph.\n            </p>\n            <p class="inner-text">\n                Second paragraph.\n            </p>\n        </div>\n        <p class="outer-text first-item" id="second">\n            <b>\n                First outer paragraph.\n            </b>\n        </p>\n        <p class="outer-text">\n            <b>\n                Second outer paragraph.\n            </b>\n        </p>\n    </body>\n</html>'

In [25]:
soup1 = BeautifulSoup(page.content, "html.parser")
print(soup1.prettify())

<html>
 <head>
  <title>
   A simple example page
  </title>
 </head>
 <body>
  <div>
   <p class="inner-text first-item" id="first">
    First paragraph.
   </p>
   <p class="inner-text">
    Second paragraph.
   </p>
  </div>
  <p class="outer-text first-item" id="second">
   <b>
    First outer paragraph.
   </b>
  </p>
  <p class="outer-text">
   <b>
    Second outer paragraph.
   </b>
  </p>
 </body>
</html>

In [26]:
soup1.find_all("p", class_= "outer-text")

[<p class="outer-text first-item" id="second">
 <b>
                 First outer paragraph.
             </b>
 </p>,
 <p class="outer-text">
 <b>
                 Second outer paragraph.
             </b>
 </p>]

In [27]:
soup1.find_all(class_= "outer-text")

[<p class="outer-text first-item" id="second">
 <b>
                 First outer paragraph.
             </b>
 </p>,
 <p class="outer-text">
 <b>
                 Second outer paragraph.
             </b>
 </p>]

In [28]:
soup1.find_all(id = "first")

[<p class="inner-text first-item" id="first">
                 First paragraph.
             </p>]

In [30]:
for i in soup1.find_all(class_ = "outer-text"):
    print(i.get_text())

                First outer paragraph.




                Second outer paragraph.