# Opening CSV

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Spotify_Youtube_Sample.csv")
df

,Artist,Track,Album,Album_type,Views,Likes,Comments,Licensed,official_video,Stream
0,Gorillaz,Feel Good Inc.,Demon Days,album,693555221.0,6220896.0,169907.0,True,True,1.040235e+09
1,Gorillaz,Rhinestone Eyes,Plastic Beach,album,72011645.0,1079128.0,31003.0,True,True,3.100837e+08
2,Gorillaz,New Gold (feat. Tame Impala and Bootie Brown),New Gold (feat. Tame Impala and Bootie Brown),single,8435055.0,282142.0,7399.0,True,True,6.306347e+07
3,Gorillaz,On Melancholy Hill,Plastic Beach,album,211754952.0,1788577.0,55229.0,True,True,4.346636e+08
4,Gorillaz,Clint Eastwood,Gorillaz,album,618480958.0,6197318.0,155930.0,True,True,6.172597e+08
...,...,...,...,...,...,...,...,...,...,...
20713,SICK LEGEND,JUST DANCE HARDSTYLE,JUST DANCE HARDSTYLE,single,71678.0,1113.0,0.0,True,True,9.227144e+06
20714,SICK LEGEND,SET FIRE TO THE RAIN HARDSTYLE,SET FIRE TO THE RAIN HARDSTYLE,single,164741.0,2019.0,0.0,True,True,1.089818e+07
20715,SICK LEGEND,OUTSIDE HARDSTYLE SPED UP,OUTSIDE HARDSTYLE SPED UP,single,35646.0,329.0,0.0,True,True,6.226110e+06
20716,SICK LEGEND,ONLY GIRL HARDSTYLE,ONLY GIRL HARDSTYLE,single,6533.0,88.0,0.0,True,True,6.873961e+06
20717,SICK LEGEND,MISS YOU HARDSTYLE,MISS YOU HARDSTYLE,single,158697.0,2484.0,0.0,True,True,5.695584e+06

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20718 entries, 0 to 20717
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Artist          20718 non-null  object
 1   Track           20718 non-null  object
 2   Album           20718 non-null  object
 3   Album_type      20718 non-null  object
 4   Views           20248 non-null  float64
 5   Likes           20177 non-null  float64
 6   Comments        20149 non-null  float64
 7   Licensed        20248 non-null  object
 8   official_video  20248 non-null  object
 9   Stream          20142 non-null  float64
dtypes: float64(4), object(6)
memory usage: 1.6+ MB

In [4]:
df.describe()

              Views         Likes      Comments        Stream
count  2.024800e+04  2.017700e+04  2.014900e+04  2.014200e+04
mean   9.393782e+07  6.633411e+05  2.751899e+04  1.359422e+08
std    2.746443e+08  1.789324e+06  1.932347e+05  2.441321e+08
min    0.000000e+00  0.000000e+00  0.000000e+00  6.574000e+03
25%    1.826002e+06  2.158100e+04  5.090000e+02  1.767486e+07
50%    1.450110e+07  1.244810e+05  3.277000e+03  4.968298e+07
75%    7.039975e+07  5.221480e+05  1.436000e+04  1.383581e+08
max    8.079649e+09  5.078865e+07  1.608314e+07  3.386520e+09

## Non numerical attributes

In [11]:
columns_object = ["Artist", "Track", "Album", "Album_type", "Licensed", "official_video"]

In [14]:
df["Artist"].value_counts()

Artist
Gorillaz                  10
Die drei !!!              10
Hollywood Undead          10
Empire of the Sun         10
White Noise for Babies    10
                          ..
NewJeans                   6
Alfonso Herrera            6
Jimin                      3
Stars Music Chile          1
Bootie Brown               1
Name: count, Length: 2079, dtype: int64

In [15]:
df["Artist"].unique()

array(['Gorillaz', 'Red Hot Chili Peppers', '50 Cent', ..., 'LE SSERAFIM',
       'ThxSoMch', 'SICK LEGEND'], dtype=object)

In [18]:
df["Artist"].nunique()

2079

In [21]:
df[columns_object].nunique()

Artist             2079
Track             17841
Album             11937
Album_type            3
Licensed              2
official_video        2
dtype: int64

In [28]:
pd.DataFrame({"Album_type" : df["Album_type"].value_counts()})

             Album_type
Album_type
album             14926
single             5004
compilation         788

In [29]:
pd.DataFrame({"Licensed" : df["Licensed"].value_counts()})

          Licensed
Licensed
True         14140
False         6108

In [30]:
pd.DataFrame({"official_video" : df["official_video"].value_counts()})

                official_video
official_video
True                     15723
False                     4525

## Numerical attributes

### Central Tedency

Working with max, min, midpoint, mode and median

In [42]:
def central_tedency(test):
    col = test
    minimum = df[col].min()
    maximum = df[col].max()
    midpoint = (maximum - minimum)/2
    median = df[col].median()
    mode = df[col].mode()[0]
    
    print(f"For column {col}, we have:")
    print(f"Min = {minimum}, Max = {maximum}, Midpoint = {midpoint}, Median = {median}, Mode = {mode}")

In [43]:
columns_numerical = ["Views", "Likes", "Comments", "Stream"]

for i in columns_numerical:
    central_tedency(i)

For column Views, we have:
Min = 0.0, Max = 8079649362.0, Midpoint = 4039824681.0, Median = 14501095.0, Mode = 6639.0
For column Likes, we have:
Min = 0.0, Max = 50788652.0, Midpoint = 25394326.0, Median = 124481.0, Mode = 0.0
For column Comments, we have:
Min = 0.0, Max = 16083138.0, Midpoint = 8041569.0, Median = 3277.0, Mode = 0.0
For column Stream, we have:
Min = 6574.0, Max = 3386520288.0, Midpoint = 1693256857.0, Median = 49682981.5, Mode = 169769959.0

### Dipersion

Working with variance, std, quantiles and range

In [46]:
def dispersion(test):
    col = test
    variance = df[col].var()
    std = df[col].std()
    quantiles = df[col].quantile([0.25, 0.5, 0.75])
    range = df[col].max() - df[col].min()
    
    print(f"For column {col}, we have:")
    print(f"Variance = {variance}, Std = {std}, First Quartile = {quantiles[0.25]}, Second Quartile = {quantiles[0.5]}, Third Quartile = {quantiles[0.75]}, Range = {range}")

In [47]:
for i in columns_numerical:
    dispersion(i)

For column Views, we have:
Variance = 7.542950360937744e+16, Std = 274644322.0046201, First Quartile = 1826001.5, Second Quartile = 14501095.0, Third Quartile = 70399749.0, Range = 8079649362.0
For column Likes, we have:
Variance = 3201681265274.233, Std = 1789324.2482217227, First Quartile = 21581.0, Second Quartile = 124481.0, Third Quartile = 522148.0, Range = 50788652.0
For column Comments, we have:
Variance = 37339645168.431526, Std = 193234.68935062236, First Quartile = 509.0, Second Quartile = 3277.0, Third Quartile = 14360.0, Range = 16083138.0
For column Stream, we have:
Variance = 5.960047142258899e+16, Std = 244132077.8238472, First Quartile = 17674864.25, Second Quartile = 49682981.5, Third Quartile = 138358065.25, Range = 3386513714.0

## Correlation between data

In [49]:
df[columns_numerical].corr()

             Views     Likes  Comments    Stream
Views     1.000000  0.891101  0.431185  0.601905
Likes     0.891101  1.000000  0.631670  0.654247
Comments  0.431185  0.631670  1.000000  0.267737
Stream    0.601905  0.654247  0.267737  1.000000